$body-bg: #FFF;
$font-size-base: 1rem;
$badge-font-size: 0.7rem;
$badge-font-weight: normal;

$primary: #40A6C8;
$primary-light: #40A6C8A6;
$secondary: #DAE1E7;
$success: #51D88A;
$info: #4090D1;
$warning: #FFF382;
$danger: #EF5753;
$dark: #14171A;
$gray: #687785;
$light: #E7ECF0;

$sidebar-nav-color: $dark;
$sidebar-icon-color: $dark;

$table-headers-color: #F1F5F8;
$table-border-color: #F8FAFC;
$table-hover-bg: #F1F7FA;

$card-cap-bg: #FFF;
$card-bg-light: #F1F7FA;
$card-shadow-color: #CDD8DF;
$card-border-radius: 0rem;

$border-color: $light;

$control-action-icon-color: #CCD2DF;

$pill-link-active: $primary;

$paginator-button-color: #9EA7AC;

@import "base";