@import "multiselect";
@import "~bootstrap/scss/bootstrap";

// custom components.
@import "card";
@import "modal";
@import "sidebar";

[v-cloak] {
    display: none;
}

svg.icon {
    width: 1rem;
    height: 1rem;
}

// fill color
.fill-text-color {
    fill: $body-color;
}

.fill-danger {
    fill: $danger;
}

.fill-warning {
    fill: $warning;
}

.fill-info {
    fill: $info;
}

.fill-success {
    fill: $success;
}

.fill-primary {
    fill: $primary;
}

// form auth
.auth-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
}

.form-auth {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-card {
    border-radius: 9px !important;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .12) !important;
    padding: 40px 32px 12px;
    background-color: #fff;
}

// list group
.list-group {
    a {
        svg {
            width: 1.2rem;
            height: 1.2rem;
            margin-right: 9px;
            fill: $dark;
        }
    }
}

.list-enter-active {
    transition: background 2s linear;
}

.list-enter,
.list-leave-to {
    background: $secondary;
}

// button behavior
button:hover {
    .fill-primary {
        fill: #FFF;
    }
}

.btn-outline-primary.active {
    .fill-primary {
        fill: $body-bg;
    }
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none !important;
}

// custom utilities
.paginator {
    .btn {
        text-decoration: none;
        color: $paginator-button-color;

        &:hover {
            color: $primary;
        }
    }
}

.rounded-2 {
    border-radius: 3rem;
}

.shadow-1 {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
}

.form-info {
    padding: 2rem 2rem;

    svg {
        width: 1.7rem;
        height: 1.7rem;
    }
}