.sidebar .nav-item {
    padding-top: 7px;
    padding-bottom: 7px;

    a {
        color: $sidebar-nav-color;
        padding: 10px;
        font-size: 19px;
        font-weight: bold;
        line-height: 1.31;
        overflow-wrap: break-word;

        svg {
            height: 1.75rem;
            width: 24px;
            color: $sidebar-icon-color;
            fill: none;
            stroke: currentColor;
            stroke-width: 1.7;
            margin-right: 20px;
            vertical-align: text-bottom;
        }

        &.active {
            color: $primary;

            svg {
                fill: none;
                stroke: $primary;
            }
        }

    }

    :hover {
        color: $primary;

        svg {
            fill: none;
            stroke: $primary;
        }
    }
}